body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    width: 800px;
}

#navbar div{
    display: inline-block;
    margin-right: 10px;
    margin-bottom: 10px;
}

#imagemGeral img{
    height: 200px;
    width: 800px;
}

.produtoDestaque .border{
    border: 2px solid gray;
    width: 600px;
    padding: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.produtoDestaque img{
    width: 100px;
}

.produtoDestaque .border div {
    width: 150px;
    display: inline-table;
    margin-bottom: 20px;
}

.produtoDestaque p{
    text-indent: 30px;
}

#produtos{
    margin-bottom: 50px;
}

#rodape img{
    height: 50px;
    width: 50px;
}

#redesSociais{
    display: inline-flex;
}

#redesSociais div{
    display: flex;
    margin-right: 10px;
}